
.image-container{
  bottom: 0%;
  margin-bottom: 0% !important;
  clip-path: polygon(22% 0, 100% 0, 100% 85%, 75% 100%, 0 100%, 0 15%);
}

.image{
  margin-bottom: 0% !important;
  width: 600px;         /* Adjust width to desired size */
  height: auto;       /* Maintain aspect ratio */
  object-fit: contain;
}
  
  .glass-social {
  opacity: 0;
  backdrop-filter: blur(10px);
  background: rgba(19, 18, 18, 0.15);
  gap: 20px;
  transition: all 0.4s ease;
}

.card:hover .glass-social {
  opacity: 1.5;
}

.glass-social a {
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.glass-social a:hover {
  transform: scale(1.2);
  color: #00ffd5;
}
